@model List<HospitalApp.Core.Application.ViewModels.LabResult.SaveLabResultViewModel>

@{
    ViewData["Title"] = "Resultados por cita";
}

<div class="container mt-5">
    <h3 class="text-center mb-4">Resultados</h3>
    <hr />
    <div class="row">
        <div class="col">
            <div class="row mb-3">
                <div class="col text-end">
                    <a asp-controller="LabResult" asp-action="Create" class="btn btn-sm btn-success">
                        Nuevo <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            <div>
                <div class="table-responsive">
                    @if (Model == null || !Model.Any())
                    {
                        <div class="alert alert-danger text-center" role="alert">
                            No se encontraron resultados
                        </div>
                    }
                    else
                    {
                        <table class="table table-success table-striped mx-auto">
                            <thead>
                                <tr>
                                    <th>Id Cita</th>
                                    <th>Paciente</th>
                                    <th>Prueba</th>
                                    <th>Estatus</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.AppointmentId</td>
                                        <td>@item.PatientName</td>
                                        <td>@item.LabTestName</td>
                                        <td>@item.Status</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="text-center">
                    <a class="btn btn-success" asp-controller="Appointment" asp-action="CompleteAppointment" asp-route-AppointmentId="@Model.FirstOrDefault()?.AppointmentId">
                        Completar cita
                    </a>
                    <a class="btn btn-danger" asp-controller="Appointment" asp-action="Index">
                        Cerrar resultados
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
