@model List<HospitalApp.Core.Application.ViewModels.LabResult.LabResultViewModel>
@using HospitalApp.Core.Domain.Entities

@{
    ViewData["Title"] = "Todos los Resultados";
}

<div class="container mt-5">
    <h3 class="text-center mb-4">Resultados</h3>
    <hr />
    <div class="row">
        <div class="col">
            <div class="row mb-3">
                <div class="col-md-4 offset-md-8">
                    <form asp-controller="LabResult" asp-action="Index" method="get" class="text-right">
                        <input type="hidden" name="appointmentId" value="@ViewBag.theAppointment" />
                        <div class="input-group">
                            <input type="text" name="cedula" class="form-control" placeholder="Cédula">
                            <button type="submit" class="btn btn-warning">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <div class="table-responsive">
                    @if (Model == null || !Model.Any())
                    {
                        <div class="alert alert-danger text-center" role="alert">
                            No se encontraron resultados
                        </div>
                    }
                    else
                    {
                        <table class="table table-success table-striped mx-auto">
                            <thead>
                                <tr>
                                    <th>Id Cita</th>
                                    <th>Paciente</th>
                                    <th>Cédula</th>
                                    <th>Prueba</th>
                                    <th>Estatus</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    if (item.Status == LabResultStatus.Pendiente)
                                    {
                                        <tr>
                                            <td>@item.AppointmentId</td>
                                            <td>@item.PatientName</td>
                                            <td>@item.Cedula</td>
                                            <td>@item.LabTestName</td>
                                            <td>@item.Status</td>
                                            <td class="text-center">
                                                <a class="btn btn-info btn-sm me-1" asp-controller="LabResult" asp-action="Report"
                                                   asp-route-id="@item.Id" asp-route-appointmentId="@item.AppointmentId">
                                                    Reportar resultados
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>