@model List<HospitalApp.Core.Application.ViewModels.AppointmentViewModel>

@using HospitalApp.Core.Domain.Entities

@{
    ViewData["Title"] = "Appointments";
}

<div class="container mt-5">
    <h3 class="text-center mb-4">Citas</h3>
    <hr />

    <div class="row justify-content-center">
        <div class="col">
            <div class="d-flex justify-content-end mb-3">
                <a asp-controller="Appointment" asp-action="Create" class="btn btn-sm btn-dark">
                    Nueva <i class="fas fa-plus"></i>
                </a>
            </div>
            @if (Model == null || !Model.Any())
            {
                <div class="alert alert-danger" role="alert">
                    No se encontraron citas.
                </div>
            }
            else
            {
                <table class="table table-success table-striped mt-3">
                    <thead>
                        <tr>
                            <th>Paciente</th>
                            <th>Doctor</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Razón</th>
                            <th>Estado</th>
                            <th class="text-end">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.PatientName</td>
                                <td>@item.DoctorName</td>
                                <td>@item.Date</td>
                                <td>@item.Time</td>
                                <td>@item.Reason</td>
                                <td>@item.Status</td>
                                <td class="text-end">
                                    @if (item.Status == AppointmentStatus.Consulta_Pendiente)
                                    {
                                        <a class="btn btn-warning btn-sm me-1" asp-controller="LabTest" asp-action="SelectLabTests" asp-route-AppointmentId="@item.AppointmentId">Consultar</a>
                                    }
                                    else if (item.Status == AppointmentStatus.Pendiente_Resultados)
                                    {
                                        <a class="btn btn-info btn-sm me-1" asp-controller="LabResult" asp-action="Consult" asp-route-LabResultId="@item.LabResultId" asp-route-AppointmentId="@item.AppointmentId">
                                            Consultar Resultados
                                        </a>
                                    }
                                    else if (item.Status == AppointmentStatus.Completada)
                                    {
                                        <a class="btn btn-success btn-sm me-1" asp-controller="LabResult" asp-action="FinalResults"
                                           asp-route-AppointmentId="@item.AppointmentId"  asp-route-LabResultIds="@string.Join(",", item.LabResultIds ?? new List<int>())">
                                            Ver resultados
                                        </a>

                                    }
                                    <a class="me-3" asp-controller="Appointment" asp-action="Edit" asp-route-id="@item.AppointmentId">
                                        <i class="fas fa-edit text-black"></i>
                                    </a>
                                    <a asp-controller="Appointment" asp-action="Delete" asp-route-id="@item.AppointmentId">
                                        <i class="fas fa-trash text-black"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>